table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #7e7e7e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #7e7e7e; */
}

thead {
  background-color: #7e7e7e;

}

thead>tr>th {
  border: 1px solid black;

}
